[submodule "app/assets/javascripts/jquery-url-parser"]
	path = app/assets/javascripts/jquery-url-parser
	url = git://github.com/allmarkedup/jQuery-URL-Parser.git
[submodule "public/qunit"]
	path = public/qunit
	url = git://github.com/jquery/qunit.git
[submodule "lib/blockly"]
	path = lib/blockly
	url = fixermark.com:~/git/blockly_git_clone.git
