// Belphanior Butler styling
@import "corners";

.form_dialog {
  border-top: 2px #4297d7 solid;
//  padding: 5px;
  input {
    width: 90%;
  }
}

#errorbar {
  @include round-corners(5px);
  font-weight: bold;
  color: white;
  background-color: #FF6666;
  margin: {
    top: 5px;
    bottom: 5px;
    left: 3px;
    right: 3px;
  }
  padding: 10px;
  display: none;
  .closebox {
    background-color: inherit;
    margin-right: 5px;
    @include round-corners(5px);
  }
  .errormsg {
    display: inline;
  }
}

#servant_list {
  display: table;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 0px;
  padding-right: 0px;
  width: auto;
  position: relative;
  .servant_head {
    display: table-row;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    .name_head {
      display: table-cell;
      width: 300px;
      font-weight: bold;
    }
    .url_head {
      width: 300px;
      display: table-cell;
      font-weight: bold;
     }
     .status_head {
       width: 100px;
       display: table-cell;
       font-weight: bold;
     }
  }
  .servant_entry {
    display: table-row;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    .name {
      width: 300px;
      display: table-cell;
    }
    .url {
      width: 300px;
      display: table-cell;
    }
    .status {
      width: 100px;
      display: table-cell;
    }
    .controls {
      display: table-cell;
    }
  }
}

#log {
  display: none;
  .log_background {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: .4;
    background-color: black;
  }
  .log_panel {
    display: block;
    position: absolute;
    left: 30px;
    top: 30px;
    right: 30px;
    bottom: 30px;
    padding: 10px;
    opacity: 1;
    background-color: white;
    z-index: 5;
    .log_frame {
      display: block;
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 30px;
      #log_content {
        display: block;
        overflow: scroll;
        height: 100%;
      }
    }
  }
  #hide_log_button {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}

#show_log_button {
  position: absolute;
  left: 0px;
  bottom: 0px;
}