#errorbar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: #FF6666;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 10px;
  display: none; }
  #errorbar .closebox {
    background-color: inherit;
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  #errorbar .errormsg {
    display: inline; }

#log {
  display: none; }
  #log .log_background {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: .4;
    background-color: black; }
  #log .log_panel {
    display: block;
    position: absolute;
    left: 30px;
    top: 30px;
    right: 30px;
    bottom: 30px;
    padding: 10px;
    opacity: 1;
    background-color: white;
    z-index: 5; }
    #log .log_panel .log_frame {
      display: block;
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 30px; }
      #log .log_panel .log_frame #log_content {
        display: block;
        overflow: scroll;
        height: 100%; }
  #log #hide_log_button {
    position: absolute;
    bottom: 0px;
    left: 0px; }

#show_log_button {
  position: absolute;
  left: 0px;
  bottom: 0px; }
