:javascript
  function default_success_callback(data) {
    ShowError("default_success_callback triggered; success not handled.");
    Logger.log("default_success_callback triggered; success not handled. Data was "+JSON.stringify(data));
  }
  function default_error_callback(error_description) {
    ShowError(error_description.short_description);
  }
  servant_communicator = new Ajax(
    default_success_callback, default_error_callback);

  function make_servant_entry(servant) {
    return "";
  }

  function on_receive_servant_list(servant_list) {
    var servant_list = "";
    $.each(servant_list, function (i, v) {
      servant_list += make_servant_entry(v);
    });
    $("#servant_list").html(servant_list);
  }

  $(function () {
    $("#add_servant_dialog").hide();
    $("#add_servant_button").button().click(function () {
      $("#add_servant_dialog").show();
      $("#add_servant_button").hide();
    });
    $("#commit_add_servant").button().click(function () {
      // if (commit_add_servant()) { 
      // clear_add_servant_dialog()
      $("#add_servant_dialog").hide();
      $("#add_servant_button").show();
      // }
    });
    servant_communicator.get("/servants/get_servants",
                             on_receive_servant_list);
  });

%h1 Servants

#servant_list
  Retrieving servants...
#add_servant_dialog{:class=>"form_dialog ui-widget"}
  %p Servant name
  %input{:id=>"servant_name"}
  %p Servant URL
  %input{:id=>"servant_url"}
  %button{:id=>"commit_add_servant"} Add Servant
  

%button{:id=>"add_servant_button"} Add Servant