:javascript
  g_servant_list={}
  function status_message(status_code) {
    if (status_code == "loading_roles") {
      return "Loading roles...";
    } else if (status_code == "loading_protocol") {
      return "Loading protocol...";
    } else if (status_code == "loaded") {
      return "Ready.";
    } else {
      return "(Unknown)";
    }
  }

  function clear_dialog(top_element) {
    $("input", top_element).val("");
  }

  function default_success_callback(data) {
    ShowError("default_success_callback triggered; success not handled.");
    Logger.log("default_success_callback triggered; success not handled. Data was "+JSON.stringify(data));
  }
  function default_error_callback(error_description) {
    ShowError(error_description.short_description);
    Logger.log(error_description.long_description);
  }
  servant_communicator = new Ajax(
    default_success_callback, default_error_callback);

  function make_servant_entry(servant, servant_index) {
    result =  "<div class='servant_entry' id='servant_"+servant_index+"'>";
    result += "<div class='name'>"+servant['name']+"</div>";
    result += "<div class='url'>"+servant['url']+"</div>";
    result += "<div class='status'>"+status_message(servant['status'])+"</div>";
    result += "<div class='controls'>";
    result += "<button>Edit</button>";
    result += "<button onclick='delete_servant(\""+
       servant['name']+"\")'>Delete</button>";
    result += "</div>";
    result += "</div>";
    return result;
  }

  function servants_are_still_waiting(servant_list) {
    $.each(servant_list, function (i,v) {
      if (v['status'] != 'loaded') {
        return false;
      }
    });
    return true;
  }

  function on_receive_servant_list(servant_list) {
    var servant_list_html = "<div class='servant_head'>" +
       "<div class='name_head'>Name</div><div class='url_head'>URL</div><div class='status_head'>Status</div>" +
       "</div>";
    var new_servant_list={};
    $.each(servant_list, function (i, v) {
      new_servant_list[v['name']] = v
      servant_list_html += make_servant_entry(v, i);
    });
    $("#servant_list").html(servant_list_html);
    g_servant_list = new_servant_list;
    if (servants_are_still_waiting(servant_list)) {
      setTimeout(update_servant_status, 5000);
    }
  }

  // Pushes a servant into the database. Returns true
  // if commit is successful; false otherwise.
  function commit_add_servant() {
    msg = {
      name: $("#servant_name").val(),
      url: $("#servant_url").val()
    };
    // TODO(mtomczak): Custom error handler to properly
    // report duplicate name error.
    servant_communicator.post(
      "/servants/add_servant",
      msg,
      on_commit_add_servant_success);
  }

  function on_commit_add_servant_success(data) {
    ShowError("Servant added.");
    clear_dialog($("#add_servant_dialog"));
    $("#add_servant_dialog").hide();
    $("#add_servant_button").show();
    update_servant_list();
  }

  function on_receive_servant_status(servant_list) {
    // TODO(mtomczak): Move global update code here.
    $.each(servant_list, function (i, v) {
      var servants = $('#servant_' + i + ' > div.status');
      servants.text(status_message(v['status']));
    });
    g_servant_list = servant_list;
    if (servants_are_still_waiting(servant_list)) {
      setTimeout(update_servant_status, 5000);
    }
  }

  function update_servant_status() {
    servant_communicator.get("/servants/get_servants",
                             on_receive_servant_status);
  }

  function update_servant_list() {
    servant_communicator.get("/servants/get_servants",
                             on_receive_servant_list);
  }

  function delete_servant(servant_name) {
    servant_communicator.post(
      "/servants/delete_servant?name="+servant_name,
      null,
      function () {
        ShowError("Servant Deleted.");
        update_servant_list();
      });
  }

  function clear_roles() {
    servant_communicator.post(
      "/servants/clear_role_cache",
      null,
      function () {
        ShowError("Role cache cleared.");
        update_servant_list();
      });
  }

  $(function () {
    $("#add_servant_dialog").hide();
    $("#add_servant_button").button().click(function () {
      $("#add_servant_dialog").show();
      $("#add_servant_button").hide();
    });
    $("#commit_add_servant").button().click(function () {
      commit_add_servant();
    });
    $("#clear_roles_button").button().click(function () {
      clear_roles();
    });
    update_servant_list();
  });

%h1 Servants

#servant_list
  Retrieving servants...
#add_servant_dialog{:class=>"form_dialog ui-widget"}
  %p Servant name
  %input{:id=>"servant_name"}
  %p Servant URL
  %input{:id=>"servant_url"}
  %button{:id=>"commit_add_servant"} Add Servant


%button{:id=>"add_servant_button"} Add Servant
.servant_controls
  %button{:id=>"clear_roles_button"} Clear Role Cache
