:javascript
  // Map from the IDs of the UI buttons to the underlying
  // data describing how they behave (loaded from the server).
  g_command_buttons={};
  // Operational mode, either "view" or "edit."
  g_mode = "view";
  // Each UI button has an ID of the form
  // kButtonIdPrefix + <button id number>.
  kButtonIdPrefix = "command_button_";

  // Class that manages the button editor dialog.
  // Constructor accepts the top-level node of the dialog
  // as an argument and attaches behaviors to the nodes
  // as needed.
  function ButtonEditor(edit_dialog) {
    this.save_callback = null;
    this.edit_dialog = edit_dialog;
    var self = this;
    $("#save_button", this.edit_dialog).click(function() {
      self.on_save();
    });
    $("#test_button", this.edit_dialog).click(function() {
      self.on_test();
    });
    $("#cancel_button", this.edit_dialog).click(function() {
      self.on_cancel();
    });

    // Opens the dialog with the specified data.
    // Arguments
    //   save_callback: The callback function to be
    //    executed when evaluation is done. Accepts the
    //    button name, the button script, and a callback
    //    to trigger when the save callback is complated.
    //   current_name: The name of the button.
    //   current_script: The scripted behavior attached
    //    to the button.
    this.edit = function(save_callback, current_name, current_script) {
      // Edit a new button.
      $("#name_input", this.edit_dialog).val(current_name);
      $("#edit_input", this.edit_dialog).val(current_script);
      $("#edit_output", this.edit_dialog).val("");
      this.save_callback = save_callback;
      edit_dialog.show();
    }
    
    // Closes the dialog without saving changes.
    this.close_dialog = function() {
      $("#command_buttons button").unbind('click');
      edit_dialog.hide();
    }

    // Runs save callback.
    this.on_save = function() {
      var self = this;
      this.save_callback(
        $("#name_input", this.edit_dialog).val(),
        $("#edit_input", this.edit_dialog).val(),
        function (data) {
          self.close_dialog();
        });
    }

    // Test-runs the script in #edit_input, piping results
    // to #edit_output.
    this.on_test = function() {
      run_command($("#edit_input", this.edit_dialog),
                  $("#edit_output", this.edit_dialog));
    }

    // Cancel button handler.
    this.on_cancel = function () {
      this.close_dialog();
    }
  }

  // Loads the commands from the server, creating buttons
  // for each command and populating g_command_buttons
  // with the button information for each command. 
  function update_commands() {
    default_communicator.get("/control_panel/get_commands",
      function (data) {
        g_command_buttons = {};
        add_ui_buttons(data);
      });
  }

  // Applies behavior to all of the UI buttons based upon
  // current operational mode. 
  // view mode: clicking a button performs the attached task
  // edit mode: clicking a button allows name and task 
  //  editing
  function enable_ui_buttons() {
    $("command_buttons button").unbind('click');
    if (g_mode == "view") {
      $("#command_buttons button").each( function (i, v) {
        var button = $(v);
        var button_id = button.attr('id');
        button.click(function () {
          run_command_text(
            g_command_buttons[button_id]["command"],
            function (result) {
              Logger.log(result);
            });
        });
      });
    } else { //g_mode == "edit"
      $("#command_buttons button").each( function (i, v) {
        var button = $(v);
        var button_id = button.attr('id');
        var button_data = g_command_buttons[button_id];
        button.click(function () {
          var editor = new ButtonEditor($("#editor"));
          editor.edit(function (name, command, on_success) {
            default_communicator.post(
              "/control_panel/update_command",
              {
                "id": button_data['id'],
                "name": name,
                "command": command
              },
              on_success);
            }, 
            "", 
            "");          
        });
      });
    }
  }

  // Attaches buttons to the view from the server-supplied
  // data and enables them as per the current mode.
  function add_ui_buttons(button_data) {
    var button_list_html = "";
    $.each(button_data, function(i, v) {
      var button_id = kButtonIdPrefix + i;
      g_command_buttons[button_id] = v;
      button_list_html += "<button id='" + button_id
                          + "'>" + v["name"] 
                          + "</button>";
      });
    $("#command_buttons").html(button_list_html);
    $("#command_buttons button").button();
    enable_ui_buttons();
  }

  // Switches to edit mode.
  function edit_mode() {
    $("#view_mode_panel").hide();
    $("#edit_mode_panel").show();
    g_mode = "edit";
  }
  
  // Switches to view mode.
  function view_mode() {
    $("#edit_mode_panel").hide();
    $("#view_mode_panel").show();
    g_mode = "view";
  }

  // Handler for new command button.
  function new_command() {
    var editor = new ButtonEditor($("#editor"));
    editor.edit(function (name, command, on_success) {
      default_communicator.post(
        "/control_panel/add_command",
        {
          "name": name,
          "command": command
        },
        on_success);
    }, 
    "", 
    "");
  }

  $(function () {
    $("#edit_mode_button").button()
      .click(function () {edit_mode();});
    $("#view_mode_button").button()
      .click(function () {view_mode();});
    $("#new_command_button").button()
      .click(function () {new_command();});
    $("#save_button").button();
    $("#test_button").button();
    $("#cancel_button").button();
    view_mode();
    update_commands();
  });

#command_buttons
%hr
#modal_control_panels
  #view_mode_panel
    %button{:id=>"edit_mode_button"} Edit
  #edit_mode_panel
    .instructions Click on a command button to edit it.
    .edit_mode_buttons
      %button{:id=>"view_mode_button"} View
      %button{:id=>"new_command_button"} New Command

#editor{:class=>"dialog"}
  .background
  .panel
    .name_input
      %input{:id=>"name_input"}
    .io_boxes
      .input_frame
        %textarea{:id=>"edit_input"}
      .output_frame
        %textarea{:id=>"edit_output", :readonly=>"true"}
    .controls
      %button{:id=>"save_button"} Save
      %button{:id=>"test_button"} Test
      %button{:id=>"cancel_button"} Cancel