// Place all the styles related to the variable controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ajaxcrud.name {
  width: 30%;
}

ajaxcrud.rows {
  display: table;
  .row {
    display: table-row;
    .field {
      display: table-cell;
    }
  }
}