%link{:href=>"qunit/qunit/qunit.css",:rel=>"stylesheet",:type=>"text/css"}
%script{:type=>"text/javascript",:src=>"qunit/qunit/qunit.js"}
:javascript
  test("Example test", function() {
    ok(true, "QUnit online.");
  });

  module("Role");
  test("Create role", function() {
    var role = new Role('{"name" : "test", "data" : "test data"}', "http://test_url");
    equal(role.name(), "test");
    equal(role.url, "http://test_url");
  });

#qunit-header Belphanior unit tests
#qunit-banner
#qunit-tests
#qunit-userAgent
