%link{:href=>"qunit/qunit/qunit.css",:rel=>"stylesheet",:type=>"text/css"}
%script{:type=>"text/javascript",:src=>"qunit/qunit/qunit.js"}
:javascript
  test("Example test", function() {
    ok(true, "QUnit online.");
  });

#qunit-header Belphanior unit tests
#qunit-banner
#qunit-tests
#qunit-userAgent
